<div class="footer container-fluid position-relative bg-white py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-61 mr-5 mb-5">
                        <h5 class="text-uppercase mb-4">OASIS Skin Studio</h5>
                        <p>OASIS Skin Studio es tu solución integral para el cuidado de piel y cuerpo, con más
                            de
                            20 tipos de tratamientos con sede central en Lima.</p>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>277 Orchard Road #03-15</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+51 935 607 078</p>
                        <p><i class="fa fa-envelope mr-2"></i>oasisskinstudio@gmail.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square" href="#"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="mr-2 mb-5" style="width:200px;">
                        <h5 class="text-uppercase mb-4">Enlaces Rápidos</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class=" mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                            <a class=" mb-2" href="about.html"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
                            <a class=" mb-2" href="service.html"><i class="fa fa-angle-right mr-2"></i>Nuestros
                                Servicios</a>
                            <a class=" mb-2" href="promotion.html"><i class="fa fa-angle-right mr-2"></i>Promociones</a>
                            <a class=" mb-2" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contáctanos</a>
                            <a class="" href="privacy.html"><i class="fa fa-angle-right mr-2"></i>Política de
                                Privacidad</a>
                        </div>
                    </div>
                    <div class="mr-2 mb-5" style="width:210px;">
                        <h5 class="text-uppercase mb-4">Nuestros Servicios</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class=" mb-2" href="cool-sculpt.html"><i class="fa fa-angle-right mr-2"></i>Oasis
                                Hydrafacial</a>
                            <a class=" mb-2" href="crystal-collagen-facial.html"><i
                                    class="fa fa-angle-right mr-2"></i>Cool Sculpt</a>
                            <a class=" mb-2" href="dermafiller.html"><i class="fa fa-angle-right mr-2"></i>Facial
                                de Colágeno Crystal</a>
                            <a class="" href="#"><i class="fa fa-angle-right mr-2"></i>Dermafiller</a>
                        </div>
                    </div>
                    <div class="mr-2 mb-5" style="width:330px;">
                        <h5 class="text-uppercase mb-4">Boletín</h5>
                        <p>Déjanos ayudarte a mantenerte segura, saludable y radiante.</p>
                        <div class="d-flex flex-column justify-content-start">
                            <div class="">
                                <div class="input-group">
                                    <input type="text" class="form-control border-light-grey" style="padding: 30px;"
                                        placeholder="Tu correo electrónico">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary px-4">Suscribirme</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark2 border-top py-4" style="border-color: rgba(256, 256, 256, .15) !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0" style="color:antiquewhite">&copy; OASIS Skin Studio. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</div>