<header class="header">
    <div class="container-fluid p-0">

        <!-- Topbar Start -->
        <div class="container-fluid bg-dark2 d-none d-lg-block">
            <div class="row py-2 px-lg-5">
                <div class="col-lg-6 text-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center" style="color:antiquewhite">
                        <small><i class="fa fa-phone-alt mr-2"></i>+65 6363 5566</small>
                        <small class="px-3">|</small>
                        <small><i class="fa fa-envelope mr-2"></i>enquire@mashuaesthetics.com</small>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="px-2" href="" style="color:antiquewhite">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="px-2" href="" style="color:antiquewhite">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="px-2" href="" style="color:antiquewhite">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="px-2" href="" style="color:antiquewhite">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="pl-2" href="" style="color:antiquewhite">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-primary"><span class="text-dark">OASIS Skin Studio</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Inicio</a>
                    <a href="about.html" class="nav-item nav-link">Nosotros</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Servicios</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="mashu-hydrafacial.html" class="dropdown-item">Mashu HydraFacial</a>
                            <a href="crystal-collagen-facial.html" class="dropdown-item">Facial de Colágeno
                                Crystal</a>
                            <a href="cool-sculpt.html" class="dropdown-item">Cool Sculpt</a>
                            <a href="dermafiller.html" class="dropdown-item">Dermafiller</a>
                        </div>
                    </div>
                    <a href="promotion.html" class="nav-item nav-link">Promociones</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Reseñas</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="testimonials.html" class="dropdown-item">Testimonios</a>
                            <a href="mediablogreviews.html" class="dropdown-item">Reseñas de Medios y Bloggers</a>
                            <a href="customerreviews.html" class="dropdown-item">Reseñas de Clientes</a>
                        </div>
                    </div>
                    <a href="membership.html" class="nav-item nav-link">Membresía</a>
                    <a href="contact.html" class="nav-item nav-link">Contacto</a>
                </div>
                <a href="booking.html" class="btn btn-apply d-none d-lg-block">Reserva Ahora</a>
            </div>
        </nav>
    </div>
</header>